{{#*inline "head"}}
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css" integrity="sha512-xodZBNTC5n17Xt2atTPuE1HxjVMSvLVW9ocqUKLsCC5CXdbqCmblAshOMAS6/keqq/sMZMZ19scR4PsZChSR7A==" crossorigin="" />
    <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js" integrity="sha512-XQoYMqMTK8LvdxXYG3nZ448hOEQiglfqkJs1NOQV44cWnUrBc8PkAOcXy20w0vlaXaVUearIOBhiXZ5V3ynxwA==" crossorigin=""></script>
    <title>USAJOBSmapper</title>
{{/inline}}

{{#*inline "body"}}

    <nav class="navbar">
        <div class="container-xl">
            <div>
                <a href="/search" class="h1 mapper" style="display: inline">USAJOBSmapper</a> 
                <p style="display: inline">(job search results from <a href="https://www.usajobs.gov/" class="link_style">USAJOBS</a> , conveniently mapped)</p>
            </div>
            <div>
                <a href="/search/notes" class="h2 link_style note">Notes</a>
            </div>
        </div>
    </nav>
    <div class="container-xl my-5">
        <form action="" id="search_form" name="search_form">
            <div class="row">
                <div class="col-lg-8 dropdown">
                    <h2 class="h3 field-label" title="More words yields fewer results.">Keywords:</h2>
                    <input type="text" class="form-control" name="keyword"
                      value="">
                </div>
                <div class="col-lg-4 dropdown">
                    <h2 class="h3 field-label" title="More words yields more results.">Position Title:</h2>
                    <input type="text" class="form-control" name="position_title"
                           value="">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-3 dropdown">
                    <h2 class="h3 field-label" title="More selections yields more results. &#013; Select as few or as many as you want.">Hiring Path:</h2>
                    <select class="form-select" multiple name="hiring_path">
                        <option value="public">Open to the public</option>
                        <option value="vet">Veterans</option>
                        <option value="nguard">National Guard & Reserve</option>
                        <option value="disability">Individuals with disabilities</option>
                        <option value="native">Native Americans</option>
                        <option value="mspouse">Military spouses</option>
                        <option value="student">Students</option>
                        <option value="ses">Senior executives</option>
                        <option value="peace">PeaceCorps & AmeriCorps Vista</option>
                        <option value="overseas">Family of overseas employees</option>
                        <option value="fed-internal-search">Internal to an agency</option>
                        <option value="graduates">Recent Graduates</option>
                        <option value="fed-excepted">Excepted service</option>
                        <option value="fed-competitive">Competitive service</option>
                        <option value="fed-transition">Career transition (CTAP,ICTAP,RPL)</option>
                        <option value="land">Land & base management</option>
                        <option value="special-authorities">Special authorities</option>
                    </select>
                </div>
                <div class="col-lg-3 dropdown">
                    <h2 class="h3 field-label" title="Enter the lowest and/or highest acceptable grade. &#013; More entries yields fewer results.">Grade:</h2>
                    <def class="row">
                        <def class="col-lg-6">
                            <h3 class="h5">Lowest Grade:</h3>
                        </def>
                        <def class="col-lg-6">
                            <h3 class="h5">Highest Grade:</h3>
                        </def>
                    </def>
                    <def class="row">
                        <def class="col-lg-6">
                            <input type="number" step="1" class="form-control" name="pay_grade_low"
                                   value="">
                        </def>
                        <def class="col-lg-6">
                            <input type="number" step="1" class="form-control" name="pay_grade_high"
                                   value="">
                        </def>
                    </def>
                </div>
                <div class="col-lg-3 dropdown">
                    <h2 class="h3 field-label" title="More selections yields more results. &#013; Select as few or as many as you want.">Department & Agency:</h2>
                    <select class="form-select" multiple name="organization">
                        <option value="IN"> Department of the Interior </option>
                        <option value="AG"> Department of Agriculture </option>
                        <option value="AF"> Department of the Air Force </option>
                        <option value="AR"> Department of the Army </option>
                        <option value="CM"> Department of Commerce </option>
                        <option value="FQ"> Court Services and Offender Supervision Agency for DC </option>
                        <option value="DD"> Department of Defense </option>
                        <option value="ED"> Department of Education </option>
                        <option value="DN"> Department of Energy </option>
                        <option value="EOP"> Executive Office of the President </option>
                        <option value="GS"> General Service Administration </option>
                        <option value="HE"> Department of Health and Human Services </option>
                        <option value="HS"> Department of Homeland Security </option>
                        <option value="HU"> Department of Housing and Urban Development </option>
                        <option value="JL"> Judicial Branch </option>
                        <option value="DJ"> Department of Justice </option>
                        <option value="DL"> Department of Labor </option>
                        <option value="LL"> Legislative Branch </option>
                        <option value="NN"> National Aeronautics and Space Administration </option>
                        <option value="AH"> National Foundation on the Arts and the Humanities </option>
                        <option value="NV"> Department of the Navy </option>
                        <option value="OT"> Other Agencies and Independent Organizations </option>
                        <option value="ST"> Department of State </option>
                        <option value="TD"> Department of Transportation </option>
                        <option value="TR"> Department of the Treasury </option>
                        <option value="VA"> Department of Veterans Affairs </option>
                    </select>
                </div>
                <div class="col-lg-3 dropdown">
                    <h2 class="h3 field-label" title='Enter as many 4 digit codes as desired. &#013; More codes yields more results. &#013; Ex. "0025 8602" for Park Ranger and/or Aircraft Engine Mechanic jobs.'>Series</h2>
                    <input type="text" class="form-control" name="job_category_code" value="">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-3">
                    <h2 class="h3">Offers Relocation Assistance:</h2>
                    <input class="form-check-input" type="checkbox" value="True" name="relocation_indicator">
                    <label class="form-check-label" for="relocation_indicator">
                        Yes
                    </label>
                </div>
                <div class="col-lg-3 dropdown">
                    <h2 class="h3 field-label" title="More selections yields more results. &#013; Select as few or as many as you want.">Work Schedule:</h2>
                    <select class="form-select" multiple name="position_schedule_type_code">
                        <option value="ONE">Full-time</option>
                        <option value="TWO">Part-time</option>
                        <option value="THREE">Shift work</option>
                        <option value="FOUR">Intermittent</option>
                        <option value="FIVE">Multiple</option>
                    </select>
                </div>
                <div class="col-lg-3 dropdown">
                    <h2 class="h3 field-label" title="A name of where you'd like to search, &#013; should be in the format: Seattle, WA. &#013; If multiple locatoins are entered, &#013; they should be semi-colun delineated, &#013; for example: Seattle, WA; Portland, OR">Location:</h2>
                    <input type="text" class="form-control" onfocusout="setRadius();" name="location_name" id="location_name" value="">
                </div>
                <div class="col-lg-3 dropdown">
                    <h2 class="h3 field-label" title="The radius of the search around the listed Location in miles. &#013If a Location is entered, the default is 25.">Radius:</h2>
                    <input type="Number" class="form-control" name="radius" id="radius" value="">
                </div>
            </div>
            <div class="row">
                <input type="text" name="page" id="page" value="1" hidden>
                <input type="text" name="number-of-pages" id="number-of-pages" value="" hidden>
                <div class="col-lg-1">
                    <button style="margin-bottom: 5px;" class="btn btn-primary btn-sm" name="btnSubmit" id="btnSubmit" value="btnSubmit">Search</button>
                    <a href="/search" class="btn btn-primary btn-sm">Reset</a>
                </div>
                <div class="col-lg-3">
                    <input class="form-check-input" type="checkbox" value="True" name="continental_us"
                    <label class="form-check-label" for="continental_us">
                        Only Show Continental US
                    </label>
                    <br>
                    <input class="form-check-input" type="checkbox" value="" name="zoom_on_circle" id="zoom_on_circle"
                    <label class="form-check-label" for="zoom_on_circle">
                        Zoom to fit location and radius
                    </label>  
                </div>
                <div class="col-lg-3">
                    <select class="form-select" name="sort_field">
                        <option value="default">Sort Field</option>
                        <option value="opendate">Position start date</option>
                        <option value="closedate">Position end date</option>
                        <option value="jobtitle">Position title</option>
                        <option value="salary">Position minimum salary</option>
                        <option value="location">Position city or military installation name</option>
                        <option value="department">Position organization name</option>
                        <option value="title">Position title</option>
                    </select>
                    <h3 class="h5">Sort Order:</h3>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" name="sort_direction" id="Asc" value="Asc"
                        checked>
                        <label class="form-check-label" for="Asc">
                            Ascending
                        </label>
                        </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" name="sort_direction" id="Desc" value="Desc"
                        {% if 'Desc' in content.SortDirection %}checked{% endif %}>
                        <label class="form-check-label" for="Desc">
                            Descending
                        </label>
                    </div>
                </div>
                <div class="col-lg-4">
                    Number of returned & mapped jobs: <span id="total_returned_jobs"></span>
                    <br>
                    Number of returned & mapped locations: <span id="total_returned_locations"></span>
                    <br>
                    Total search results: <span id="total_search_results"></span>
                    <br>
                    <small>Some jobs have multiple locations.</small>
                </div>
            </div>
            <span id="map_holder">
            </span>
        </form>
    </div>

    <script src="/static/js/add_div.js"></script>
    <script src="/static/js/mapper.js"></script>
    <script src="/static/js/search.js"></script>

{{/inline}}
{{~> (parent)~}}